
.color-fondo{
  background-color: $celeste;
}
.border-card {
  border-color: $celeste;
}
.navbar-color-fondo {
  background-color: $violeta;
  z-index: 2;
}


.bordes {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin: 0px;
  /* padding: 1em; */
  /* border-spacing: 0px; */
  /* margin: 0 -1em; */
}
@mixin sizes($width, $height) {
  height: $height;
  width: $width;
}

.logo {
  @include sizes(350px,300px );
}
.iconos-redes-sociales {
  @include sizes(30px,30px );
}

.margen-list-group{
  margin-top: 50%;
}
.list-group-item {
  background-color: $amarillo;

}
.list-group-item:hover{
  transition: 1s;
  background-color: $bordoClaro;
}
.main-index {
  margin-top: 5%;
}
.footer-index {
  background-color: $amarillo;
  margin-top: 5%;

}
.girar:hover {
  animation-name: gira;
  animation-duration: 1s;
}
.otro_girar:hover {
  animation-name: gira2 ;
  animation-duration: 1s;
}

.otro_otro_girar:hover{
  animation-name: gira3 ;
  animation-duration: 1s;
}
@keyframes gira {
  from{
    transform: rotateX(0);
   

  }
  to{
    transform: rotateX(1080);
    background-color: $amarillo;
  }

  
}
@keyframes gira2 {
  from{
    transform: rotateX(0);

  }
  to{
    transform: rotateX(1080);
    background-color: $bordoClaro;
    
  }

}

@keyframes gira3 {
  from{
    transform: rotateX(0);

  }
  to{
    transform: rotateX(1080);
    background-color: $violeta;
    
  }

}


.footer-h6-1{
  text-align: left;
}
.footer-h6-2{
  text-align: right;
}
.footer-badge-background-color{
  background-color: $violeta;
  margin-left: 10px;
}
.ocultar-list {
  visibility: hidden;
}
.ocultar-div {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .ocultar-list {
    visibility: visible ;
  }
}
@media only screen and (min-width: 768px) {
  .ocultar-div {
    display: block;
  }
}


